<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Book Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="~/js/epub.min.js"></script>

    <style>
        main {
            height: 100%;
            vertical-align: middle;
        }

        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        button.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
</head>
<body>
    <header>
        <nav style="background:rgb(255,255,255,0.3)!important;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand disabled">E-Book Application</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black">Browse</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="@("window.location.href='" + @Url.Action("Browse", "Home") + "'");">Books</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">Audio Books</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-haspopup="true" aria-expanded="false">Subscribe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-haspopup="true" aria-expanded="false">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="LogOut" aria-haspopup="true" aria-expanded="false" style="color:black">Log Out</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container centered">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background:rgb(255,255,255,0.3);" class="border-top footer text-muted">
        <div class="container">
            <a class="btn disabled" asp-area="">Admin Login</a><a class="btn disabled" asp-area="">Book Provider Login</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>