@{
    ViewData["Title"] = "Browse Page";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://images5.alphacoders.com/919/919004.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    section {
        display: -webkit-flex;
        display: flex;
        padding: 30px;
        background: rgba(255, 255, 255, 0.8)
    }

    img {
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
        padding: 10px;
    }

    footer {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    row {
        display: block;
    }
</style>

<body>
    <section>
        <div class="row">
            hsdfhsdhfd
        </div>
    </section>
</body>