@{
    ViewData["Title"] = "Browse Page";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://images5.alphacoders.com/919/919004.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    section {
        display: -webkit-flex;
        display: flex;
        padding: 30px;
        background: rgba(255, 255, 255, 0.8)
    }

    img {
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
        padding: 10px;
    }

    footer {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    row {
        display: block;
    }
</style>

<body>
    <section>
        <div class="row">
            <img src="https://img.kitapyurdu.com/v1/getImage/fn:7476337/wh:true/miw:200/mih:200">
            <img src="https://img.kitapyurdu.com/v1/getImage/fn:7425232/wh:true/wi:800">
            <img src="https://i.idefix.com/cache/600x600-0/originals/0000000070734-1.jpg" />
            <img src="https://i.idefix.com/cache/500x400-0/originals/0000000057163-1.jpg" />
            <img src="https://kbimages1-a.akamaihd.net/e2537ec3-2401-47d6-a771-6bffb0f44e4e/353/569/90/False/harry-potter-and-the-prisoner-of-azkaban-5.jpg">
            <img src="https://kbimages1-a.akamaihd.net/99fbc66f-a5b2-4f32-850c-c19c3cffe27f/353/569/90/False/harry-potter-and-the-order-of-the-phoenix-6.jpg" />
            <img src="https://kbimages1-a.akamaihd.net/ed24fc45-4f09-4a65-beb1-294f5f3c496a/353/569/90/False/harry-potter-and-the-deathly-hallows-4.jpg" />
            <img src="https://www.iskultur.com.tr/boyut/50/qa/dosyalar/2013/03/kumarbaz-1-253x420.png" />
        </div>
    </section>
</body>