@{
    ViewData["Title"] = "Browse Page";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://images5.alphacoders.com/919/919004.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    section {
        display: -webkit-flex;
        display: flex;
        padding: 30px;
        background: rgba(255, 255, 255, 0.8)
    }

    img {
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
        padding: 10px;
    }
</style>

<body>
    <section>

        <img src="https://img.kitapyurdu.com/v1/getImage/fn:7476337/wh:true/miw:200/mih:200" alt="Romeo and Juliet">
        <img src="https://kbimages1-a.akamaihd.net/e2537ec3-2401-47d6-a771-6bffb0f44e4e/353/569/90/False/harry-potter-and-the-prisoner-of-azkaban-5.jpg" alt="Romeo and Juliet">
    </section>
</body>