@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://images5.alphacoders.com/919/919004.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    /* Style the header */
    header {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    /* Container for flexboxes */
    section {
        display: -webkit-flex;
        display: flex;
    }

    /* Style the navigation menu */
    nav {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: #fff;
        padding: 20px;
    }

        /* Style the list inside the menu */
        nav ul {
            list-style-type: none;
            padding: 0;
        }

    /* Style the content */
    article {
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        background-color: #f1f1f1;
        padding: 10px;
    }

    /* Style the footer */
    footer {
        background-color: #fff;
        text-align: center;
        color: white;
    }
</style>

<body>
    <section>
        <nav>
            <ul>
                <li> <a href="#"> Login</a> </li>
                <li> <a href="#"> Register</a> </li>
            </ul>
        </nav>
    </section>
</body>