@{
}
@model SoftwareEngineering.Models.DTOs.RegisterUserDTO;
<div>
    <form method="post" enctype="multipart/form-data" action="/api/User/Login">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <button type="submit">Login</button>
    </form>
</div>
