@{
}
@model SoftwareEngineering.Models.DTOs.RegisterUserDTO;

@using (Html.BeginForm("", "/api/User/Register", FormMethod.Post))
{
    <span>Enter Your Email:</span> @Html.TextBoxFor(m => m.Email)<br />
    <span>Enter Your Password: </span> @Html.TextBoxFor(m => m.Password)<br />
 
    <input id = "Submit" type = "submit" value = "submit" />
}
<div>
    <form method="post" enctype="multipart/form-data" action="/api/User/Register">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <button type="submit">Seks</button>
    </form>
</div>
