@{
    ViewData["Title"] = "Register Page";
}
@model SoftwareEngineering.Models.DTOs.RegisterUserDTO;
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://images5.alphacoders.com/919/919004.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    /* Style the header */
    header {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    /* Container for flexboxes */
    section {
        display: -webkit-flex;
        display: flex;
        background-color: #fff;
        padding: 20px;
    }

    /* Style the navigation menu */
    nav {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: #fff;
        padding: 20px;
    }

        /* Style the list inside the menu */
        nav ul {
            list-style-type: none;
            padding: 0;
        }

    /* Style the content */
    article {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 30px;
        background: rgba(255, 255, 255, 0.8)
    }

    fieldset {
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        background-color: #f1f1f1;
        padding: 30px;
    }

    /* Style the footer */
    footer {
        background-color: #fff;
        text-align: center;
        color: white;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>

<body>
    <div style="padding: 30px"></div>
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div style="background:rgb(255,255,255,0.5)" class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 style="text-align:center" class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form enctype="multipart/form-data" method="post" action="/api/User/Register">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="email">Email</label>
                                        <input asp-for="Email" style="background:rgb(255,255,255,0.8)" type="email" id="emailAddress" class="form-control form-control-lg" placeholder="name@example.com" required autofocus />
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="password">Password</label>
                                        <input asp-for="Password" style="background:rgb(255,255,255,0.8)" type="password" id="password" class="form-control form-control-lg" placeholder="Password" required/>
                                        <small id="passwordHelp" class="form-text text-muted">We recommend not using passwords that you use on other platforms.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Birthday</label>
                                        <input asp-for="BirthDate" style="background:rgb(255,255,255,0.8)" type="date"
                                               class="form-control form-control-lg"
                                               id="birthdayDate" required />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                        <input asp-for="Phone" style="background:rgb(255,255,255,0.8)" type="tel" id="phoneNumber" class="form-control form-control-lg" placeholder="+905*********" pattern="^+90\d{3}\d{3}\d{4}$" required/>
                                    </div>
                                </div>
                            </div>
                            <h5 style="color: white; background-color: rgba(178,34,34, 0.8); display: none; text-align: center" id="error">Account already exists.</h5>
                            <div style="text-align:center" class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 30px"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var nav = document.getElementsByTagName("header");
            nav[0].style.display = "none";
            var url = new URL(window.location.href);
            var isRegistered = url.searchParams.get("isRegistered")
            var error = document.getElementById("error");
            if(isRegistered.trim() === "False"){
                if(isRegistered != null){
                    error.style.display = "block";
                    }
               }
        })
    </script>
</body>